extend layout 

block content
    h1 #{title}
    p Math.acosh() is applied to #{num1} is #{acosh}
    p Math.log1p() is applied to #{num2} is #{log1p}
    p Math.tan() is applied to #{num3} is #{tan}
    p Math.sqrt() is applied to #{num4} is #{sqrt}